#apple-chart-id body {
  font: 10px sans-serif;
}

#apple-chart-id .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#apple-chart-id .x.axis path {
  display: none;
}

#apple-chart-id .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#apple-chart-id .overlay {
  fill: none;
  pointer-events: all;
}

#apple-chart-id .focus circle {
  fill: none;
  stroke: steelblue;
}